.nav{
  overflow: hidden;
  background-color: #040F0F;
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 0px 0px  25px 25px;
}
.nav .contactbutton{
    float: right;
    display: block;
    color: #C9FBFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto Mono', monospace;
}
.nav .test{
    float: left;
    display: block;
    color: #C9FBFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    font-family: 'Roboto Mono', monospace;
}
.headofbody{
    margin-left:0;
    margin-right: 0;
    text-align:center;
    background-image: url("leocover.jpg");
    background-repeat: no-repeat;
    padding-bottom: 400px;
    width: 100%;
    background-size: 100%;
    background-position-y: +25%;
    text-align: center;
    border-radius: 25px;
}
.titletext{
    position: relative;
    top: 50%;
    transform: translateY(+500%);
    color:white;
}
.titlebutton{
    border-radius: 25px;
    background: #fff;
    padding: 10px 15px; 
    text-emphasis: none;
    text-decoration: none;
    color: #000000;
    position: absolute;
    top: 50%;                      
    transform: translate(-50%,-50%);
    text-align:center;
}

.content {
    padding: 16px;
    margin-left:10%;
    margin-right: 10%;
  }
  .minibody{
    margin-left:15%;
    margin-right: 15%;
    background-color:#fff;
  }
  body {
    margin:0;
    background-color: #57737A;

}
footer{
    text-align:center;
    margin:0;
    background-color: #57737A;
}
footer a{
text-emphasis: none;
text-decoration: none;
color: #000000;
}
.toe{
    margin-left:15%;
    margin-right: 15%;
    background-color:#fff;
}